<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="./lib/vue.js"></script>
    <script src="./lib/vue-router-3.0.1.js"></script>
</head>
<body>
    <div id="app">
        <input type="text" v-model="firstname">+
        <input type="text" v-model="lastname">=
        <input type="text" v-model="fullname">
        <p>{{fullname}}</p>
    </div>
    <script>
        new Vue({
            el:"#app",
            data:{
                firstname:"",
                lastname:"",
            },
            methods:{

            },
            computed: { 
                'fullname':function(){
                    console.log('ok');
                    return this.firstname+'----'+this.lastname
                    
                },
                
            },
        })
    
    
    </script>

</body>
</html>